.App {
  font-family: sans-serif;
  text-align: center;
}

#option {
  height: 10rem;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}
